.App {
  text-align: center;
}

.search-box input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 500px;
  border: none;
  outline:none;
}

.search-box button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  outline: none;
  color: #757575;
}

.search-box button:hover {
  color: #000;
}

